<header>

    <h1>Entrega 33 - Servidor en Heroku</h1>
    <ul>

        <li><a href="/login">Login</a></li>

        <li><a href="/productos/lista">Vista de productos</a></li>

        <li><a href="/">Ingresar Producto</a></li>
     
        <li><a href="/info">Información del proceso</a></li>

        <li>Calcular Randoms
            <form action="/randoms" method="get" role="form">
                <div class="form-group">              
                    <input id="input-title" class="form-control" type="number" name="cant">
                </div>                
                <button id='miBoton' type="submit" class="btn btn-default">CALCULAR</button>
            </form>
        </li>

    </ul>

</header>