<header>

    <h1>Entrega 37 - CAPAS DEL PROYECTO</h1>
    <ul>      

        <li><a href="/productos/listar">Vista de productos</a></li>

        <li><a href="/">Ingresar Producto</a></li>       

    </ul>

</header>