{{#each productos}}
<form action="/productos/actualizar" method="POST" role="form">
    <p>Id</p>
    <input class="form-control" type="text" name="id" value={{{_id}}} readonly>
    <p>Nombre</p>
    <input class="form-control" type="text" name="title" value={{{title}}}>
    <p>Precio</p>
    <input class="form-control" type="text" name="price" value={{{price}}}>
    <p>Foto</p>
    <input class="form-control" type="text" name="thumbnail" value={{{thumbnail}}}>   
    <button class="btn btn-success btn-sm" type="submit" >Actualizar Producto</button>    
</form>
    <button class="btn btn-dark bg-danger btn-sm" style="margin-left: 145px; margin-top: -60px" onclick="location.href='/productos/listar'">No actualizar el producto</button>
{{/each}}