<div class="chat">
    <section class="chat_ventana">
        <h1> Chat PopUp</h1>
        <p>Click  on the chat button to start chatting</p>
        <button class="chat-btn"><i class="material-icons">chat</i></button>
    <div class="chat-popup">
        <div class="badge">1</div>
        <div class="chat-area">
            <div class="income-msg">
                <img src="/storage/atencion-icono (1).jpg" class="avatar_chat" alt="foto_chat">
                <span class="msg">Hola! en que puedo ayudarte?</span>
            </div>
        </div>
        <div class="input-area">
            <input type="text_chat">
            <button id="emoji-btn">&#128513;</button>
            <button class="submit_chat"><i class="material-icons">send</i></button>
        </div>
    </div>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.1.1/dist/index.min.js"></script>
<script type="text/javascript" src="chat.js"></script>