 
<h1 class="error">Error 404 - Page not found</h1>
</header>   
<section>
    <p class="error_enunciado">{{#if user}}<b>{{user.username}}</b> {{/if}} &nbsp; Hubo un error al procesar la informacion
        esa ruta</p>
</section>
      <a href="/productos/listar"><input id="btn-back" class="btn btn-success my-4" type="submit" value="Regresar a la lista de productos"></a>
  </div></h2>
 


