<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Usted debe logearse para ingresar correctamente al sitio</h1>
    <br><br>
    <p>No hay productos cargados para listar. Para ingresar productos pincha ---> <a href="http://localhost:8080/login">Aqui</a></p>

</body>
</html>