 
<h1 class="error">Error 404 - Page not found</h1>
</header>   
<script type="text/javascript" src="/script.js"></script>
<section>
    <p class="error_enunciado">{{#if user}}<b>{{user.nombre}}</b> {{/if}} &nbsp; La pagina que intenta buscar no se encuentra disponible o no cuenta con los permisos suficientes para acceder a
        esa ruta</p>
</section>
      <a href="/posterror"><input id="btn-back" class="btn btn-success my-4" type="submit" value="Regresar al menu de inicio"></a>
  </div></h2>
 


