<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>    
    <title>Lista de Productos</title>

</head>

<ul>     
    <li><a href="/productos/lista">Ir al Panel de Productos</a></li>
</ul>

<form action="/productos" method="post" role="form">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input id="input-title" class="form-control" type="text" name="title">
    </div>    
    <div>
        <label for="name">Precio</label>
        <input id="input-thumbnail" class="form-control" type="number" name="price">
    </div>        
    <div>
        <label for="name">Foto</label>
        <input id="input-thumbnail" class="form-control" type="text" name="thumbnail">
    </div> 
    <button id ='miBoton' type="submit" class="btn btn-default">CARGAR PRODUCTO</button>
</form>
<br>

          <h4>Chat de Consultas y Respuestas</h4>

        <div id="mensajes"></div>
        <script src='index.js' charset="utf-8"></script>
        <form class="form-online" onsubmit="return nuevomensaje(this)" autocomplete="off">
            <input type="email" id='email_usuario' class="form-control my-3 mr-3" placeholder="Tu Correo electrónico">
            <input type="text" id='texto' class="form-control my-3 mr-3" placeholder="Escribe un mensaje">
            <input class='btn mensaje' type="submit" value="Enviar mensaje">
        </form>
    </div>
    <br>
</html>