<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h4>Bienvenido a mi API</h4>
    </header>
    <br>

    <form action="/productos/lista">
        <button id='lista_carito' type="submit">Ir a al Panel de Productos</button>
    </form><br>
    <form action="/carrito">
        <button id='lista_carito' type="submit">Ir al Panel de Carrito</button>
    </form><br>
</body>

</html>