<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <title>Login de usuario</title>
</head>

<body>
  <section class="login">
    <h1>Login de Usuario</h1>
    <div class="form-group">
      <form action="/" method="post" class="form-horizontal" role="form">
        <label for="nombre">Nombre</label>
        <input type="text" size="50" class="form-control" name="nombre" placeholder="Ingrese su nombre">
        <button id='botonsubmit' type="submit" class="btn-submit">Ingresar</button>
      </form>
    </div>
  </section>
</body>

</html>