    <header>
        
        <h1>Desafio 10 - Motores de Plantillas - Parte 1</h1>
        <ul> 
            <li><a href="/api/productos/lista">Actualizar la lista de productos</a></li>       
            <li><a href="/api/nuevo-producto">Ingresar Producto</a></li>

        </ul>

    </header>