<p>Tabla de Productos</p>

<% if (productos) { %>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">title</th>
            <th scope="col">price</th>
            <th scope="col">thumbnail</th>
            </tr>
        </thead>
        <tbody>

            <% productos.forEach( (productos) => { %>
                
                <tr>

                    <th scope="row"><%= productos.id %></th>
                    <td><%= productos.title %></td>
                    <td><%= productos.price %></td>
                    <td>
                        <img class="img-thumbnail" src="<%= productos.thumbnail %>" alt="" />
                    </td>
    
                </tr>


            <% }); %>

        </tbody>
    </table>

<% } else { %>

    <p>No hay productos</p>

<% } %>